{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "window": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "import/imports-first": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-use-before-define": ["error", { "functions": false, "classes": true }],

    "react/jsx-space-before-closing": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-sort-props": 2,
    "react/jsx-no-bind": [0, { allowArrowFunctions: true }],
  }
}
