@import '../../styles/common/variables.scss';
@import '../../styles/utils/mixins.scss';

.greeter {
  @include ui-element(10px);

  background-color: $grey-light;
  padding: 20px;
  border: 3px solid blue;
  display: flex;

  &:hover {
    background-color: transparent;
  }
}
